{{ $cfg := (site.Params.node) }}

<article class="node-{{ (.Type) }} d-flex">
    {{ if (and ($cfg.cover.image.enabled)) }}
      <div class="flex-shrink-0 me-3 d-none d-md-block">
        <div class="node-cover">
            {{ (partial "module/node/cover/image.01" .) }}
        </div>
      </div>
    {{ end }}
  <div class="flex-grow-1">
    <header>
      <div class="node-title">
        <h2 class="h5"><a href="{{ (.RelPermalink) }}">{{ (.Title) }}</a></h2>
      </div>
    </header>
    <div class="node-body">{{ (.Render "summary") }}</div>
  </div>
</article>
