{{ $image := (index (.Params.images) 0) }}

{{ $article := (dict
"@context" "https://schema.org"
"@type" "Article"
"mainEntityOfPage" (.Permalink)
"headline" ((.Title) | truncate 110)
"description" (partial "seo/schema/function/description" .)
"url" (.Permalink)
"image" ($image)
"text" ((.Plain) | chomp)
"articleBody" ((.Plain) | chomp)
"author" (partial "seo/schema/function/author" .)
"inLanguage" (partial "seo/schema/function/language" .)
"wordCount" (.WordCount)
"datePublished" (partial "seo/schema/function/date.published" .)
"dateCreated" (partial "seo/schema/function/date.created" .)
"dateModified" (partial "seo/schema/function/date.modified" .)
"keywords" (partial "seo/schema/function/keywords" .)
"publisher" (printf "%s%s" ("/" | absURL) ("#organization"))
"pageStart" 1
"pageEnd" 1
) }}

<script type="application/ld+json">{{ ((($article) | jsonify) | safeJS) }}</script>
