{{ $data := (newScratch) }}

{{ $answer := "" }}
{{ with (.Resources.GetMatch "answer.md") }}{{ $answer = ((.Plain) | chomp) }}{{ end }}

{{ ($data.Add "authors" (slice)) }}
{{ range (.GetTerms "authors") }}
    {{ ($data.Add "authors" (partial "seo/schema/function/author" .)) }}
{{ end }}

{{ ($data.Add "tags" (slice)) }}
{{ range (.GetTerms "tags") }}{{ ($data.Add "tags" (.Title)) }}{{ end }}

{{ $qapage := (dict
"@context" "https://schema.org"
"@type" "Question"
"mainEntityOfPage" (.Permalink)
"name" (.Title)
"text" ((.Plain) | chomp)
"inLanguage" (partial "seo/schema/function/language" .)
"datePublished" (partial "seo/schema/function/date.published" .)
"dateCreated" (partial "seo/schema/function/date.created" .)
"dateModified" (partial "seo/schema/function/date.modified" .)
"keywords" (partial "seo/schema/function/keywords" .)
"acceptedAnswer" (dict
"@type" "Answer"
"mainEntityOfPage" (.Permalink)
"text" ($answer)
"inLanguage" (partial "seo/schema/function/language" .)
"datePublished" (partial "seo/schema/function/date.published" .)
"dateCreated" (partial "seo/schema/function/date.created" .)
"dateModified" (partial "seo/schema/function/date.modified" .)
"author" (partial "seo/schema/function/author" .)
"url" (.Permalink)
)) }}

<script type="application/ld+json">{{ ((($qapage) | jsonify) | safeJS) }}</script>
