{{ define "main" }}

    {{ $accordionID := ((printf "accordion-%s" (delimit (shuffle (seq 11 99)) "")) | md5) }}
    {{ $cp := ((printf "clipboard-%s" (delimit (shuffle (seq 11 99)) "")) | md5) }}

    {{ (partial "breadcrumb" .) }}

    <article>
      <header>
        <div class="node-title">
          <h1 class="text-center">{{ (.Title) }}</h1>
        </div>
      </header>
      <footer>
        <ul class="list-inline text-center text-body-secondary small">
            {{ with (.Params.date) }}
              <li class="list-inline-item">
                <time datetime='{{ (.UTC.Format "2006-01-02T15:04:05Z07:00") }}' data-fn="date-local">
                    {{ (.UTC.Format "2006/01/02 15:04:05 MST") }}
                </time>
              </li>
            {{ end }}
            {{ with (.Params.uuid) }}
              <li class="list-inline-item">&bull;</li>
              <li class="list-inline-item">
                <span id="cp-{{ ($cp) }}">{{ . }}</span>
                <a class="text-body" href="#"
                   data-fn="clipboard preventDefault" data-clipboard-target="#cp-{{ ($cp) }}"
                   data-bs-tooltip data-bs-title='{{ (i18n "copy") }}'
                   role="button" aria-label='{{ (i18n "copy") }}'>
                  <i class="fas fa-copy fa-fw"></i>
                </a>
              </li>
            {{ end }}
        </ul>
      </footer>
      <div class="node-body">
          {{ (.Content) }}

        <div class="accordion mb-3" id="accordion-{{ ($accordionID) }}">
            {{ with (.Resources.ByType "text") }}
                {{ range $k, $v := . }}
                    {{ $modalFileID := ((printf "modal-file-%s" (delimit (shuffle (seq 11 99)) "")) | md5) }}
                    {{ $modalReadmeID := ((printf "modal-readme-%s" (delimit (shuffle (seq 11 99)) "")) | md5) }}
                    {{ $accordionItemID := ((printf "accordion-item-%s" (delimit (shuffle (seq 11 99)) "")) | md5) }}
                    {{ $readmeFile := (printf "%s.md" (strings.TrimSuffix (path.Ext (.Name)) (.Name))) }}

                    {{ $btnCSS := "collapsed" }}
                    {{ $ariaExpanded := "false" }}
                    {{ $itemCSS := "" }}
                    {{ if (eq $k 0) }}
                        {{ $btnCSS = "" }}
                        {{ $ariaExpanded = "true" }}
                        {{ $itemCSS = "show" }}
                    {{ end }}

                    <div class="accordion-item">
                      <div class="accordion-header">
                        <a class="accordion-button {{ ($btnCSS) }}" href="#" role="button" tabindex="0"
                           data-bs-toggle="collapse" data-bs-target="#accordion-item-{{ ($accordionItemID) }}"
                           aria-expanded="{{ ($ariaExpanded) }}" aria-controls="accordion-item-{{ ($accordionItemID) }}"
                           aria-label="{{ (.Name) }}">
                          <code>{{ (.Name) }}</code>
                        </a>
                      </div>
                      <div id="accordion-item-{{ ($accordionItemID) }}"
                           class="accordion-collapse collapse {{ ($itemCSS) }}"
                           data-bs-parent="#accordion-{{ ($accordionID) }}">
                        <div class="accordion-body">
                          <div class="table-responsive">
                            <table class="table table-striped table-bordered mb-0">
                              <thead>
                              <tr>
                                <th class="w-25" scope="col">{{ (i18n "resources.parameter") }}</th>
                                <th scope="col">{{ (i18n "resources.value") }}</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                <td>
                                    {{ (i18n "resources.resource") }}
                                </td>
                                <td>
                                  <a href="#" role="button"
                                     data-bs-toggle="modal"
                                     data-bs-target="#modal-{{ ($modalFileID) }}">{{ (.Name) }}</a>
                                </td>
                              </tr>
                              {{ with ($.Resources.GetMatch ($readmeFile)) }}
                                <tr>
                                  <td>
                                      {{ (i18n "resources.readme") }}
                                  </td>
                                  <td>
                                    <a href="#" role="button"
                                       data-bs-toggle="modal"
                                       data-bs-target="#modal-{{ ($modalReadmeID) }}">{{ (.Name) }}</a>
                                  </td>
                                </tr>
                              {{ end }}
                              {{ range (findRE `((::)( +)(@)(.+?)( +)(.+))` (.Content)) }}
                                <tr>
                                  <td>
                                      {{ (i18n (printf "resources.%s" ((replaceRE `((::)( +)(@)(.+?)( +)(.+))` "$5" .) | lower))) }}
                                  </td>
                                  <td>
                                      {{ ((replaceRE `((::)( +)(@)(.+?)( +)(.+))` "$7" .) | markdownify) }}
                                  </td>
                                </tr>
                              {{ end }}
                              {{ range (findRE `(?s)((<#PSScriptInfo)(.+?)(#>))` (.Content) 1) }}
                                  {{ range (findRE `((\.)(.+?)( +)(.+))` .) }}
                                    <tr>
                                      <td>
                                          {{ (i18n (printf "resources.%s" ((replaceRE `((\.)(.+?)( +)(.+))` "$3" .) | lower))) }}
                                      </td>
                                      <td>
                                          {{ ((replaceRE `((\.)(.+?)( +)(.+))` "$5" .) | markdownify) }}
                                      </td>
                                    </tr>
                                  {{ end }}
                              {{ end }}
                              {{ range (findRE `((#)( +)(@)(.+?)( +)(.+))` (.Content)) }}
                                <tr>
                                  <td>
                                      {{ (i18n (printf "resources.%s" ((replaceRE `((#)( +)(@)(.+?)( +)(.+))` "$5" .) | lower))) }}
                                  </td>
                                  <td>
                                      {{ ((replaceRE `((#)( +)(@)(.+?)( +)(.+))` "$7" .) | markdownify) }}
                                  </td>
                                </tr>
                              {{ end }}
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    {{ (partial "module/node/modal/resource" (dict "x" . "id" ($modalFileID) )) }}
                    {{ with ($.Resources.GetMatch ($readmeFile)) }}
                        {{ (partial "module/node/modal/resource.readme" (dict "x" . "id" ($modalReadmeID) "body" (.Content))) }}
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
      </div>
    </article>

{{ end }}
