body {
  .node {
    &-body {
      .shortcode {

        // ---------------------------------------------------------------------------------------------------------- //
        // Common.
        // ---------------------------------------------------------------------------------------------------------- //

        .btn {
        }

        // ---------------------------------------------------------------------------------------------------------- //
        // Quote.
        // ---------------------------------------------------------------------------------------------------------- //

        &-quote {
          border-left: .5rem solid var(--bs-gray-200);
          padding-left: 1rem;

          blockquote {
            border-left: unset;
            padding-left: unset;
          }
        }

        // ---------------------------------------------------------------------------------------------------------- //
        // Spoiler (inline).
        // ---------------------------------------------------------------------------------------------------------- //

        &-spi {
          cursor: pointer;

          span {
            &:last-child {
              opacity: .6;
            }
          }
        }

        // ---------------------------------------------------------------------------------------------------------- //
        // CodeBlock.
        // ---------------------------------------------------------------------------------------------------------- //

        &-codeblock {
          pre {
            margin: 0;
          }

          .position-sticky {
            top: 4rem;
          }

          &-terminal {
            pre {
              background-color: unset;
              border-radius: unset;

              code {
                .line:last-child:after {
                  content: ' _ ';
                  opacity: 0;
                  animation: cursor 1s infinite;
                }
              }

              @keyframes cursor {
                0% {
                  opacity: 0;
                }
                40% {
                  opacity: 0;
                }
                50% {
                  opacity: 1;
                }
                90% {
                  opacity: 1;
                }
                100% {
                  opacity: 0;
                }
              }
            }

            &-linux {
              pre {
                code {
                  .line:first-child:before {
                    content: 'user@host ~ % ';
                  }
                }
              }

              &-root {
                pre {
                  code {
                    .line:first-child:before {
                      content: 'root@host ~ # ';
                      color: var(--bs-danger);
                    }
                  }
                }
              }
            }

            &-windows {
              pre {
                code {
                  .line:first-child:before {
                    content: 'C:\\User> ';
                  }
                }
              }

              &-root {
                pre {
                  code {
                    .line:first-child:before {
                      content: 'C:\\Admin> ';
                      color: var(--bs-danger);
                    }
                  }
                }
              }
            }
          }
        }

        // ---------------------------------------------------------------------------------------------------------- //
        // File.
        // ---------------------------------------------------------------------------------------------------------- //

        &-file, &-ghFile, &-glFile, &-resource {
          pre {
            max-height: calc(100vh - 10rem);
          }
        }

        // ---------------------------------------------------------------------------------------------------------- //
        // GitHub Repository.
        // ---------------------------------------------------------------------------------------------------------- //

        &-gh-repo {
          .gh-repo {
            &-emoji {
              width: 1rem;
              height: 1rem;
            }
          }
        }
      }
    }
  }
}
