code {
  .hljs {
    &-keyword,
    &-name,
    &-selector-attr,
    &-variable,
    &-variable.language_ {
      color: #cba6f7
    }

    &-built_in,
    &-doctag {
      color: #f38ba8
    }

    &-selector-tag,
    &-title.class_,
    &-type {
      color: #f9e2af
    }

    &-literal,
    &-meta,
    &-number,
    &-variable.constant_ {
      color: #fab387
    }

    &-bullet,
    &-formula,
    &-operator,
    &-property,
    &-selector-class,
    &-selector-pseudo {
      color: #94e2d5
    }

    &-punctuation {
      color: #bac2de
    }

    &-regexp {
      color: #f5c2e7
    }

    &-attribute,
    &-char.escape_,
    &-code,
    &-string {
      color: #a6e3a1
    }

    &-subst,
    &-tag {
      color: #a6adc8
    }

    &-symbol,
    &-template-tag,
    &-template-variable {
      color: #f2cdcd
    }

    &-attr,
    &-section,
    &-selector-id,
    &-title,
    &-title.function_ {
      color: #89b4fa
    }

    &-params {
      color: #cdd6f4
    }

    &-comment {
      color: #585b70;
      font-style: italic
    }

    &-emphasis {
      color: #f38ba8;
      font-style: italic
    }

    &-strong {
      color: #f38ba8;
      font-weight: 700
    }

    &-link {
      color: #74c7ec;
      font-style: italic
    }

    &-quote {
      color: #a6e3a1;
      font-style: italic
    }

    &-addition {
      color: #a6e3a1;
      background: rgba(166, 227, 161, .15)
    }

    &-deletion {
      color: #f38ba8;
      background: rgba(243, 139, 168, .15)
    }
  }
}
