/**
  Atom One Dark by Daniel Gamage
  Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax

  base:    #282c34
  mono-1:  #abb2bf
  mono-2:  #818896
  mono-3:  #5c6370
  hue-1:   #56b6c2
  hue-2:   #61aeee
  hue-3:   #c678dd
  hue-4:   #98c379
  hue-5:   #e06c75
  hue-5-2: #be5046
  hue-6:   #d19a66
  hue-6-2: #e6c07b
*/

.hljs {
  &-comment,
  &-quote {
    color: #5c6370;
    font-style: italic
  }

  &-doctag,
  &-formula,
  &-keyword {
    color: #c678dd
  }

  &-deletion,
  &-name,
  &-section,
  &-selector-tag,
  &-subst {
    color: #e06c75
  }

  &-literal {
    color: #56b6c2
  }

  &-addition,
  &-attribute,
  &-meta &-string,
  &-regexp,
  &-string {
    color: #98c379
  }

  &-attr,
  &-number,
  &-selector-attr,
  &-selector-class,
  &-selector-pseudo,
  &-template-variable,
  &-type,
  &-variable {
    color: #d19a66
  }

  &-bullet,
  &-link,
  &-meta,
  &-selector-id,
  &-symbol,
  &-title {
    color: #61aeee
  }

  &-built_in,
  &-class &-title,
  &-title.class_ {
    color: #e6c07b
  }

  &-emphasis {
    font-style: italic
  }

  &-strong {
    font-weight: 700
  }

  &-link {
    text-decoration: underline
  }
}
