body {
  .node {
    &-body {
      .shortcode {

        // ---------------------------------------------------------------------------------------------------------- //
        // Quote.
        // ---------------------------------------------------------------------------------------------------------- //

        &-quote {
          border-left: .5rem solid var(--bs-gray-200);
          padding-left: 1rem;

          blockquote {
            border-left: unset;
            padding-left: unset;
          }
        }

        // ---------------------------------------------------------------------------------------------------------- //
        // Spoiler (inline).
        // ---------------------------------------------------------------------------------------------------------- //

        &-spi {
          cursor: pointer;

          span {
            &:last-child {
              opacity: .6;
            }
          }
        }

        // ---------------------------------------------------------------------------------------------------------- //
        // CodeBlock.
        // ---------------------------------------------------------------------------------------------------------- //

        &-codeblock {
          .position-sticky {
            top: 4rem;
          }

          &-terminal {
            pre {
              background-color: unset;
              border-radius: unset;

              code {
                &:after {
                  content: ' _';
                  opacity: 0;
                  animation: cursor 1s infinite;
                }
              }

              @keyframes cursor {
                0% {
                  opacity: 0;
                }
                40% {
                  opacity: 0;
                }
                50% {
                  opacity: 1;
                }
                90% {
                  opacity: 1;
                }
                100% {
                  opacity: 0;
                }
              }
            }

            &-linux {
              pre {
                code:before {
                  content: 'user@localhost ~ % ';
                }
              }

              &-root {
                pre {
                  code:before {
                    content: 'root@localhost ~ # ';
                    color: var(--bs-danger);
                  }
                }
              }
            }

            &-windows {
              pre {
                code:before {
                  content: 'C:\\Users\\LocalUser> ';
                }
              }

              &-root {
                pre {
                  code:before {
                    content: 'C:\\Windows\\System32> ';
                    color: var(--bs-danger);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
