body {
  .node {
    &-body {
      .shortcode {
        &-quote {
          border-left: .5rem solid var(--bs-gray-200);
          padding-left: 1rem;

          blockquote {
            border-left: unset;
            padding-left: unset;
          }
        }

        &-spi {
          cursor: pointer;

          span {
            &:last-child {
              opacity: .6;
            }
          }
        }

        &-codeblock {
          .position-sticky {
            top: 4rem;
          }

          &-terminal {
            pre {
              background-color: unset;

              code:before {
                content: 'user@localhost ~ % ';
              }

              code:after {
                content: ' _';
                opacity: 0;
                animation: cursor 1s infinite;
              }

              @keyframes cursor {
                0% {
                  opacity: 0;
                }
                40% {
                  opacity: 0;
                }
                50% {
                  opacity: 1;
                }
                90% {
                  opacity: 1;
                }
                100% {
                  opacity: 0;
                }
              }
            }

            &-root {
              pre {
                code:before {
                  content: 'root@localhost ~ # ';
                  color: var(--bs-danger);
                }
              }
            }
          }
        }
      }
    }
  }
}
