{{- /*
DESCRIPTION:
  Terminal code block.

EXAMPLE:
  ```terminal {os="windows"}
  <CODE>
  ```

EXAMPLE:
  ```terminal {os="windows",mode="root"}
  <CODE>
  ```

EXAMPLE:
  ```terminal {os="linux"}
  <CODE>
  ```

EXAMPLE:
  ```terminal {os="linux",mode="root"}
  <CODE>
  ```
*/ -}}

{{ $a := (.Attributes) }}
{{ $t := (.Type) }}
{{ $i := (.Inner) }}

<div class="card mb-3 shortcode-codeblock shortcode-codeblock-{{ ($t) }}
{{ with ($a.os) }}shortcode-codeblock-{{ ($t) }}-{{ . }}{{ end }}
{{ with ($a.os) }}shortcode-codeblock-{{ ($t) }}-{{ . }}{{ end }}{{ with ($a.mode) }}-{{ . }}{{ end }}" data-bs-theme="dark">
  <div class="card-header">
    <div class="d-flex align-items-center">
      <div class="flex-shrink-0">
        <i class="fas fa-terminal fa-fw"></i>
      </div>
      <div class="flex-grow-1 mx-2">
        <h5 class="mb-0">{{ (i18n "sc.code.terminal") }}</h5>
      </div>
      <div class="flex-shrink-0">
        <ul class="list-inline mb-0 {{ if (eq ($a.mode) "root") }}text-danger{{ end }}">
          <li class="list-inline-item">
            <i class="fas fa-circle fa-fw"></i>
          </li>
          <li class="list-inline-item">
            <i class="fas fa-circle fa-fw"></i>
          </li>
          <li class="list-inline-item">
            <i class="fas fa-circle fa-fw"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body">{{ (highlight ($i) ($t)) }}</div>
</div>
