{{- /*
DESCRIPTION:
  Highlight code block.

SYNTAX:
  ```bash
  <CODE>
  ```

EXAMPLE:
  ```bash
  echo "ext_$(date +%s%N | sha512sum | fold -w 8 | head -n 1)"
  ```
*/ -}}

{{ $a := (.Attributes) }}
{{ $t := ((.Type) | default "text") }}
{{ $i := (.Inner) }}

{{ $cp := (printf "clipboard-%s" (delimit (shuffle (seq 999)) "" | md5)) }}

{{ if (or ($a.title) ($a.file)) }}

  <div class="card mb-3 overflow-hidden shortcode-codeblock shortcode-codeblock-{{ ($t) }}">
    <div class="card-header">
      <div class="d-flex align-items-center">
        <div class="flex-shrink-0">
          <i class="fas fa-file-code fa-fw"></i>
        </div>
        <div class="flex-grow-1 mx-2">
            {{ with ($a.title) }}<h5 class="mb-0">{{ . }}</h5>{{ end }}
            {{ with ($a.file) }}<code>{{ . }}</code>{{ end }}
        </div>
        <div class="flex-shrink-0">
          <ul class="list-inline mb-0">
            <li class="list-inline-item" data-bs-tooltip data-bs-title='{{ (i18n "sc.code.copy") }}'>
              <a class="text-body" href="#"
                 data-fn="clipboard preventDefault" data-clipboard-target="#{{ ($cp) }}"
                 role="button">
                <i class="fas fa-copy fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card-body" id="{{ ($cp) }}">{{ (highlight ($i) ($t)) }}</div>
  </div>

{{ else }}

  <div class="d-flex mb-3 overflow-hidden shortcode-codeblock {{ with ($t) }}shortcode-codeblock-{{ . }}{{ end }}">
    <div class="flex-grow-1 rounded overflow-hidden" id="{{ ($cp) }}">{{ (highlight ($i) ($t)) }}</div>
    <div class="flex-shrink-0">
      <ul class="list-inline mb-0">
        <li class="list-inline-item" data-bs-tooltip data-bs-title='{{ (i18n "sc.code.copy") }}'>
          <a class="text-body" href="#"
             data-fn="clipboard preventDefault" data-clipboard-target="#{{ ($cp) }}"
             role="button">
            <i class="fas fa-copy fa-fw"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>

{{ end }}
