{{ define "main" }}

    {{ (partial "breadcrumb" .) }}

    {{ $pages := (.Paginator.Pages) }}

    <div class="row row-cols-1 row-cols-lg-2 g-3">
        {{ range ($pages) }}
          <div class="col">
            <div class="d-sm-block d-md-none">
                {{ if (eq (.Section) "faq") }}
                    {{ (.Render "view/question.02") }}
                {{ else }}
                    {{ (.Render "view/article.02") }}
                {{ end }}
            </div>
            <div class="d-none d-md-block">
                {{ if (eq (.Section) "faq") }}
                    {{ (.Render "view/question.01") }}
                {{ else }}
                    {{ (.Render "view/article.01") }}
                {{ end }}
            </div>
              {{ (partial "module/node/modal/article" .) }}
          </div>
        {{ end }}
    </div>

    {{ (partial "pagination" .) }}

{{ end }}
