{{ define "main" }}

    {{ $cfg := (site.Params.node) }}

    <div class="section py-3">
      <div class="container">

          {{ (partial "breadcrumb" .) }}

        <div class="row row-cols-1 row-cols-lg-2 }} g-3">
            {{ range (.Paginator.Pages) }}
              <div class="col">
                <article class="node-{{ (.Type) }} d-flex">
                    {{ if ($cfg.cover.image.enabled) }}
                      <div class="flex-shrink-0 me-3 d-none d-md-block">
                        <div class="node-cover">
                            {{ (partial "module/node/cover/image.md" .) }}
                        </div>
                      </div>
                    {{ end }}
                  <div class="flex-grow-1">
                    <header>
                      <div class="node-title">
                        <h2 class="h5"><a href="{{ (.RelPermalink) }}">{{ (.Title) }}</a></h2>
                      </div>
                    </header>
                    <div class="node-body">{{ (.Render "summary") }}</div>
                  </div>
                </article>
              </div>
            {{ end }}
        </div>

          {{ (partial "pagination" .) }}

      </div>
    </div>

{{ end }}
