{{ $position := 0 }}
{{ $data := (newScratch) }}
{{ ($data.Add "itemListElement" (slice)) }}

{{ range (.Ancestors.Reverse) }}
    {{ $position = (add ($position) 1) }}
    {{ ($data.Add "itemListElement" (dict
    "@type" "ListItem"
    "position" ($position)
    "name" (.Title)
    "item" (.Permalink)
    )) }}
{{ end }}

{{ ($data.Add "itemListElement" (dict
"@type" "ListItem"
"position" (add ($position) 1)
"name" (.Title)
"item" (.Permalink)
)) }}

{{ $breadcrumb := (dict
"@context" "https://schema.org"
"@type" "BreadcrumbList"
"itemListElement" ($data.Get "itemListElement")
) }}

<script type="application/ld+json">{{ ((($breadcrumb) | jsonify) | safeJS) }}</script>
