{{ $authors := 0 }}
{{ if (isset .Params "authors") }}
    {{ if (not (eq (index (.Params.authors) 0) "")) }}
        {{ $authors = 1 }}
    {{ end }}
{{ end }}

<section class="card node-authors h-100">
  <div class="card-body">
    <h5 class="card-title">{{ (i18n "authors") }}</h5>
      {{ if ($authors) }}
        <ul>
            {{ range (.GetTerms "authors") }}
              <li>
                <a href="{{ (.Permalink) }}">{{ (.Title) }}</a>
              </li>
            {{ end }}
        </ul>
      {{ else }}
          {{ (partial "function/alert" (dict
          "type" "warning"
          "icon" "fas fa-user"
          "msg" (i18n "alert.authors_not_found")
          )) }}
      {{ end }}
  </div>
</section>
