{{ $dateCreated := (now.UTC.Format "2006-01-02T15:04:05Z07:00") }}
{{ $datePublished := (now.UTC.Format "2006-01-02T15:04:05Z07:00") }}
{{ $dateExpiry := (now.UTC.Format "2006-01-02T15:04:05Z07:00") }}
{{ $dateModified := (now.UTC.Format "2006-01-02T15:04:05Z07:00") }}

{{ if (.Params.date) }}
    {{ $dateCreated = (.Date.UTC.Format "2006-01-02T15:04:05Z07:00") }}
    {{ $datePublished = (.PublishDate.UTC.Format "2006-01-02T15:04:05Z07:00") }}
    {{ $dateExpiry = (.ExpiryDate.UTC.Format "2006-01-02T15:04:05Z07:00") }}
    {{ $dateModified = (.Lastmod.UTC.Format "2006-01-02T15:04:05Z07:00") }}
{{ end }}

{{ $description := (site.Params.description) }}
{{ with (.Summary) }}{{ $description = . }}{{ end }}
{{ with (.Description) }}{{ $description = . }}{{ end }}

{{ $logo := (site.Params.organization.logo) }}
{{ $image := (index (.Params.images) 0) }}
{{ $keywords := (delimit ((.Params.tags) | default (slice)) ", ") }}
{{ $data := (newScratch) }}

{{ $mainEntityOfPage := (dict
"@type" "WebPage"
"@id" (.Permalink)
) }}

{{ $publisher := (dict
"@type" "Organization"
"name" (site.Title)
"logo" (dict
"@type" "ImageObject"
"url" (($logo) | absURL)
)
) }}

{{ ($data.Add "authors" (slice)) }}

{{ range (.GetTerms "authors") }}
    {{ ($data.Add "authors" (dict
    "@type" "Person"
    "name" (.Title)
    "url" (.Permalink)
    )) }}
{{ end }}

{{ $article := (dict
"@context" "https://schema.org"
"@type" "Article"
"mainEntityOfPage" ($mainEntityOfPage)
"headline" ((.Title) | truncate 110)
"description" (($description) | plainify)
"url" (.Permalink)
"image" ($image)
"author" ($data.Get "authors")
"inLanguage" (.Lang)
"wordCount" (.WordCount)
"datePublished" ($datePublished)
"dateCreated" ($dateCreated)
"dateModified" ($dateModified)
"keywords" ($keywords)
"publisher" ($publisher)
"articleBody" ((.Plain) | chomp)
) }}

<script type="application/ld+json">{{ ((($article) | jsonify) | safeJS) }}</script>
