{{ $dateCreated := (now.UTC.Format "2006-01-02T15:04:05Z07:00") }}
{{ $datePublished := (now.UTC.Format "2006-01-02T15:04:05Z07:00") }}
{{ $dateExpiry := (now.UTC.Format "2006-01-02T15:04:05Z07:00") }}
{{ $dateModified := (now.UTC.Format "2006-01-02T15:04:05Z07:00") }}

{{ if (.Params.date) }}
    {{ $dateCreated = (.Date.UTC.Format "2006-01-02T15:04:05Z07:00") }}
    {{ $datePublished = (.PublishDate.UTC.Format "2006-01-02T15:04:05Z07:00") }}
    {{ $dateExpiry = (.ExpiryDate.UTC.Format "2006-01-02T15:04:05Z07:00") }}
    {{ $dateModified = (.Lastmod.UTC.Format "2006-01-02T15:04:05Z07:00") }}
{{ end }}

{{ $data := (newScratch) }}

{{ $answer := "" }}
{{ with (.Resources.GetMatch "answer.md") }}{{ $answer = ((.Plain) | chomp) }}{{ end }}

{{ ($data.Add "authors" (slice)) }}
{{ range (.GetTerms "authors") }}
    {{ ($data.Add "authors" (dict
    "@type" "Person"
    "name" (.Title)
    "url" (.Permalink)
    )) }}
{{ end }}

{{ ($data.Add "tags" (slice)) }}
{{ range (.GetTerms "tags") }}{{ ($data.Add "tags" (.Title)) }}{{ end }}

{{ $qapage := (dict
"@context" "https://schema.org"
"@type" "Question"
"name" (.Title)
"text" ((.Plain) | chomp)
"inLanguage" (.Language.LanguageCode)
"datePublished" ($datePublished)
"dateCreated" ($dateCreated)
"dateModified" ($dateModified)
"keywords" (delimit (($data.Get "tags") | default (slice)) ", ")
"acceptedAnswer" (dict
"@type" "Answer"
"text" ($answer)
"inLanguage" (.Language.LanguageCode)
"datePublished" ($datePublished)
"dateCreated" ($dateCreated)
"dateModified" ($dateModified)
"author" ($data.Get "authors")
"url" (.Permalink)
)) }}

<script type="application/ld+json">{{ ((($qapage) | jsonify) | safeJS) }}</script>
