{{ define "main" }}
    {{ $posts := ((where site.RegularPages "Type" "in" "posts") | first 11) }}
    {{ $cfg := ((site.Params.node) | default "") }}

    {{ with ($posts) }}
      <div class="section py-3">
        <div class="container">

          <div class="row row-cols-1 g-3">
            <div class="col">
                {{ range (first 1 .) }}
                    {{ (.Render "view/article.02.h3") }}
                {{ end }}
            </div>
            <div class="col">
              <div class="row row-cols-1 row-cols-lg-2 g-3">
                  {{ range ((after 1 .) | first 4) }}
                    <div class="col">
                        {{ (.Render "view/article.02.h4") }}
                    </div>
                  {{ end }}
              </div>
            </div>
            <div class="col">
              <div class="row row-cols-1 row-cols-lg-3 g-3">
                  {{ range (after 5 .) }}
                    <div class="col">
                        {{ (.Render "view/article.02.h5") }}
                    </div>
                  {{ end }}
              </div>
            </div>
          </div>

        </div>
      </div>
    {{ end }}

{{ end }}
