{{ define "main" }}
    {{ $posts := ((where $.Site.RegularPages "Type" "in" "posts") | first 11) }}
    {{ $cfg := (($.Site.Params.node) | default "") }}

    {{ with ($posts) }}
      <div class="section py-3">
        <div class="container">

          <div class="row row-cols-1 g-3">
            <div class="col">
                {{ range (first 1 .) }}
                  <article class="node-{{ .Type }}">
                    <header>
                        {{ if ($cfg.cover.image.enabled) }}
                            {{ (partial "module/node/cover/image.lg" .) }}
                        {{ end }}
                      <div class="node-title">
                        <h3><a href="{{ (.RelPermalink) }}">{{ (.Title) }}</a></h3>
                      </div>
                    </header>
                    <div class="node-body">{{ (.Render "summary") }}</div>
                  </article>
                {{ end }}
            </div>
            <div class="col">
              <div class="row row-cols-1 row-cols-lg-2 g-3">
                  {{ range ((after 1 .) | first 4) }}
                    <div class="col">
                      <article class="node-{{ .Type }}">
                        <header>
                            {{ if ($cfg.cover.image.enabled) }}
                                {{ (partial "module/node/cover/image.lg" .) }}
                            {{ end }}
                          <div class="node-title">
                            <h4><a href="{{ (.RelPermalink) }}">{{ (.Title) }}</a></h4>
                          </div>
                        </header>
                        <div class="node-body">{{ (.Render "summary") }}</div>
                      </article>
                    </div>
                  {{ end }}
              </div>
            </div>
            <div class="col">
              <div class="row row-cols-1 row-cols-lg-3 g-3">
                  {{ range (after 5 .) }}
                    <div class="col">
                      <article class="node-{{ .Type }}">
                        <header>
                            {{ if ($cfg.cover.image.enabled) }}
                                {{ (partial "module/node/cover/image.lg" .) }}
                            {{ end }}
                          <div class="node-title">
                            <h4 class="h5"><a href="{{ (.RelPermalink) }}">{{ (.Title) }}</a></h4>
                          </div>
                        </header>
                        <div class="node-body">{{ (.Render "summary") }}</div>
                      </article>
                    </div>
                  {{ end }}
              </div>
            </div>
          </div>

        </div>
      </div>
    {{ end }}

{{ end }}
