{{ $cfg := (site.Params.node.cover.image) }}

{{ $width := ($cfg.lg.width) }}{{ $height := ($cfg.lg.height) }}
{{ $crop := ((.Params.cover.crop) | default ($cfg.crop)) }}
{{ $fit := ((.Params.cover.fit) | default ($cfg.fit)) }}
{{ $src := ((index (.Params.images) 0) | default ($cfg.placeholder)) }}
{{ $srcset := (slice
(dict "width" "640" "height" "360")
(dict "width" "768" "height" "432")
(dict "width" "1024" "height" "576")
(dict "width" "1280" "height" "720")
(dict "width" "1600" "height" "900")
) }}

<a title="{{ ((.Title) | plainify) }}" class="d-block" href="{{ (.RelPermalink) }}">
  <picture>
    <source srcset='{{ range $i, $e := ($srcset) }}{{ if $i }},{{ end }}{{ ($src) }}?crop={{ ($crop) }}&amp;w={{ (.width) }}&amp;h={{ (.height) }}&amp;fit={{ ($fit) }}&amp;auto=compress,format {{ (.width) }}w{{ end }}' sizes="(min-width: 576px) 100vw"/>
    <img class="d-block w-100 h-100 rounded"
         src="{{ ($src) }}?crop={{ ($crop) }}&amp;w={{ ($width) }}&amp;h={{ ($height) }}&amp;fit={{ ($fit) }}&amp;auto=compress,format"
         width="{{ ($width) }}" height="{{ ($height) }}"
         alt="{{ ((.Title) | plainify) }}"/>
  </picture>
</a>
