{{ $id_toc := (printf "toc-%s" ((.File.UniqueID) | default "")) }}

{{ if (.Params.toc) }}
  <div class="node-toc mb-3">
    <div class="accordion" id="accordion-{{ ($id_toc) }}">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <a class="accordion-button collapsed" href="#" role="button" tabindex="0"
             data-bs-toggle="collapse" data-bs-target="#collapse-{{ ($id_toc) }}"
             aria-expanded="false" aria-controls="collapse-{{ ($id_toc) }}" aria-label='{{ (i18n "toc") }}'>
              {{ (i18n "toc") }}
          </a>
        </h2>
        <div id="collapse-{{ ($id_toc) }}" class="accordion-collapse collapse"
             data-bs-parent="#accordion-{{ ($id_toc) }}">
          <div class="accordion-body">
              {{ (.TableOfContents) }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
