<div class="modal fade" id="modal-{{ (.File.UniqueID) }}" tabindex="-1"
     aria-labelledby="modal-{{ (.File.UniqueID) }}-label" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="modal-{{ (.File.UniqueID) }}-label">
          <a href="{{ (.RelPermalink) }}">{{ (.Title) }}</a>
        </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label='{{ (i18n "close") }}'></button>
      </div>
      <div class="modal-body">
        <div class="node-body">
            {{ (.Content) }}
        </div>
      </div>
      <div class="modal-footer">
        <ul class="list-inline text-center text-body-secondary small">
            {{ if (.Params.tags) }}
                {{ range (.GetTerms "tags") }}
                  <li class="list-inline-item">
                    <a href="{{ (.Permalink) }}">#{{ (.Title) }}</a>
                  </li>
                {{ end }}
                <li class="list-inline-item">&bull;</li>
            {{ end }}
            {{ with (.Params.complexity) }}
                {{ with (eq . "0") }}
                  <li class="list-inline-item text-success"
                      data-bs-tooltip data-bs-title='{{ (i18n "complexity") }}: {{ (i18n "complexity-0") }}'>
                    <i class="far fa-face-smile fa-fw"></i>
                  </li>
                  <li class="list-inline-item">&bull;</li>
                {{ end }}
                {{ with (eq . "1") }}
                  <li class="list-inline-item text-warning"
                      data-bs-tooltip data-bs-title='{{ (i18n "complexity") }}: {{ (i18n "complexity-1") }}'>
                    <i class="far fa-face-meh fa-fw"></i>
                  </li>
                  <li class="list-inline-item">&bull;</li>
                {{ end }}
                {{ with (eq . "2") }}
                  <li class="list-inline-item text-danger"
                      data-bs-tooltip data-bs-title='{{ (i18n "complexity") }}: {{ (i18n "complexity-2") }}'>
                    <i class="far fa-face-frown fa-fw"></i>
                  </li>
                  <li class="list-inline-item">&bull;</li>
                {{ end }}
            {{ end }}
            {{ with (.Params.date) }}
              <li class="list-inline-item">
                <time datetime='{{ (.UTC.Format "2006-01-02T15:04:05Z07:00") }}' data-fn="date-local">
                    {{ (.UTC.Format "2006/01/02 15:04:05 MST") }}
                </time>
              </li>
            {{ end }}
        </ul>
      </div>
    </div>
  </div>
</div>
