{{ define "main" }}

    {{ (partial "breadcrumb" .) }}

    <article>
      <header>
        <div class="node-title">
          <h1 class="text-center">{{ (.Title) }}</h1>
        </div>
      </header>
      <footer>
        <ul class="list-inline text-center text-body-secondary small">
            {{ with (.Params.date) }}
              <li class="list-inline-item">
                <time datetime='{{ (.UTC.Format "2006-01-02T15:04:05Z07:00") }}' data-fn="date-local">
                    {{ (.UTC.Format "2006/01/02 15:04:05 MST") }}
                </time>
              </li>
            {{ end }}
            {{ if (.Params.tags) }}
              <li class="list-inline-item">&bull;</li>
              {{ range (.GetTerms "tags") }}
                <li class="list-inline-item">
                  <a href="{{ (.Permalink) }}">#{{ (.Title) }}</a>
                </li>
              {{ end }}
            {{ end }}
        </ul>
      </footer>
      <div class="node-body">
        <div class="node-question border-start border-danger-subtle border-3 ps-3 mb-3">{{ (.Content) }}</div>
          {{ with (.Resources.Match "answer.*.md") }}
              {{ range . }}
                <div class="node-answer border-start border-success-subtle border-3 ps-3">
                    {{ (.Content) }}
                </div>
              {{ end }}
          {{ end }}

          {{ (partial "module/node/sources" .) }}
      </div>
    </article>

{{ end }}
